html,
body {
  height: 100%;
  font-family: Arial;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  list-style: none;
  padding: 0;
}
.footer ul li {
  cursor: pointer;
  padding: 0 10px;
}
.footer ul li:not(:last-child) {
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  line-height: 30px;
  max-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.btn.btn-primary {
  background-color: transparent;
}
.btn.btn-secondary {
  background-color: #be300d;
  border-radius: 10px;
}
.btn:focus,
.btn:hover,
.btn:active {
  opacity: 0.8;
}
.top-bar {
  padding: 30px;
  background-image: url("../images/Banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top-bar .login-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-bar .login-bar .logo {
  max-height: 34px;
}
.top-bar .register {
  color: #fff;
  font-size: 16px;
}
.top-bar .register .sing-up {
  font-weight: bold;
}
.reasons-to-use {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 8vh 6vw;
  background-image: url("../lov_landing-assets/Rectangle_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.reasons-to-use .pros {
  text-align: center;
  padding: 0 20px;
  width: 100%;
}
.reasons-to-use .pros img {
  max-height: 15vh;
}
.info {
  padding: 30px 0;
  background-image: url("../images/all_in_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.info .darken {
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 8vh 6vw;
}
.info .darken p {
  font-weight: bold;
  margin-bottom: 8vh;
}
.select-correspondent {
  padding: 0 6vw;
}
.select-correspondent .visible-chats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.select-correspondent .visible-chats .person {
  display: inline-block;
  padding: 25px 15px 0;
}
.select-correspondent .visible-chats .person:last-child {
  padding-bottom: 25px;
}
.select-correspondent .visible-chats .person img {
  max-width: 125px;
  transform: scale(1);
  transform-origin: top;
  transition: 300ms transform ease-in-out;
}
.select-correspondent .visible-chats .person img:focus,
.select-correspondent .visible-chats .person img:hover,
.select-correspondent .visible-chats .person img:active {
  transform: scale(1.5);
}
.select-correspondent .visible-chats .person .name-and-age {
  font-size: 20px;
  margin: 5px;
}
.select-correspondent .visible-chats .person .origin {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  margin: 0;
}
.select-correspondent .visible-chats .person .btn.start-chat {
  color: #777;
  font-weight: bold;
  line-height: 30px;
  border: 3px double #777;
  border-radius: 3px;
  margin-top: 15px;
}
.register > input:not(.sign-up) {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 20px 10px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: #be300d;
}
.custom-checkbox input,
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
}
.custom-checkbox input {
  opacity: 0;
}
.custom-checkbox .checkmark {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: #eee;
  box-shadow: 0px 0px 1px #000;
  border-radius: 5px;
}
.styled-select {
  position: relative;
  width: 100%;
  max-width: 110px;
  margin-bottom: 10px;
  padding: 11px 0 11px 15px;
  color: #bbb;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  user-select: none;
}
.styled-select::before,
.styled-select::after {
  display: block;
  position: absolute;
  right: 30px;
  bottom: 55%;
  width: 0;
  height: 0;
  font-size: 24px;
  color: #bbb;
  pointer-events: none;
  font-weight: bold;
}
.styled-select::before {
  content: "›";
  transform: rotate(-90deg);
}
.styled-select::after {
  content: "‹";
  transform: rotate(-90deg) translate(-10px, 0);
}
.styled-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: right;
  background-color: transparent;
  padding-right: 30px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  outline: none;
}
.reviews {
  padding: 6vh 10vh;
}
.slick-slider .slick-track {
  display: flex;
  align-items: center;
}
.slick-slider .slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: translate(0, -50%);
  border-radius: 50%;
  font-weight: bold;
  border: 2px solid;
  border-color: #be300d;
  color: #be300d;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
.slick-slider .slick-arrow:focus,
.slick-slider .slick-arrow:hover,
.slick-slider .slick-arrow:active {
  border-color: #be300d;
  color: #fff;
  background-color: #be300d;
}
.slick-slider .slick-arrow.slick-prev {
  left: -45px;
}
.slick-slider .slick-arrow.slick-next {
  right: -45px;
}
.slick-slider .slide {
  margin: 10px;
  outline: none;
}
.slick-slider .slide img {
  margin: 0 auto;
  max-width: 100%;
}
.slick-slider .slide .review {
  text-align: justify;
}
.slick-slider .slide .review .name-and-age {
  font-size: 20px;
  text-align: center;
}
.slick-slider .slide .review .description {
  font-size: 12px;
  color: #777;
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .top-bar {
    padding: 2% 10%;
  }
  .register > input:not(.sign-up) {
    width: 400px;
  }
  .reasons-to-use {
    flex-wrap: nowrap;
  }
  .footer ul {
    flex-flow: row wrap;
  }
  .select-correspondent {
    overflow: hidden;
  }
  .select-correspondent .visible-chats {
    display: block;
    height: 325px;
  }
  .select-correspondent .visible-chats .person {
    padding: 50px 15px;
  }
  .slick-slider .slide {
    display: flex;
    align-items: center;
  }
  .slick-slider .slide .review {
    margin-left: 10px;
  }
  .slick-slider .slide .review .name-and-age {
    text-align: left;
    margin: 15px 0;
  }
}
@media screen and (min-width: 420px) {
  .btn {
    line-height: 40px;
  }
  .custom-checkbox {
    display: inline-block;
  }
  .top-bar .login-bar .logo {
    max-height: 44px;
  }
}
